main {
    text-align: center;
}

#btns {
    margin: 2em;
}

#btns>a {
    text-decoration: none;
    background-color: rgb(21, 100, 13);
    color: azure;
    font-weight: bolder;
    padding: .5em;
    border-radius: 5px;
    margin: 0 1em;
    transition: .5s;
}

#btns>a:hover {
    opacity: .8;
    transition: .5s;
    
}

.presentation-img {
    margin: auto;
    width: 70vw;
    height: 70vh;
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 10px;
}
.p1{
    background-image: url('../assets/images/p1.PNG');
}
.p2{
    background-image: url('../assets/images/p2.PNG');
}
.p3{
    background-image: url('../assets/images/p3.PNG');
}
.p4{
    background-image: url('../assets/images/p4.PNG');
}
.p5{
    background-image: url('../assets/images/p5.PNG');
}
.p6{
    background-image: url('../assets/images/p6.PNG');
}

